{% extends 'partial/base.html' %}
{% load static %}
{% block content %}

<main class="main pages">
    <div class="page-header breadcrumb-wrap">
		<div class="container">
			<div class="breadcrumb">
				<a href="{% url 'OCS_APP:index' %}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
				<span></span> Login <span></span> Forget Password
			</div>
		</div>
	</div>

    <div class="page-content pt-60 pb-60  d-flex justify-content-center align-items-center">
        <div class="card text-center" style="width: 300px;">
            <div class="card-header h5 text-white bg-primary">Password Reset</div>
            <div class="card-body px-5">
                <p class="card-text py-2">
                    Enter your email address and we'll send you an email with instructions to reset your password.
                </p>
                <div class="form-outline">
                    <input type="email" class="form-control my-3 reset-myemail" placeholder="Your Email *" name="reset-myemail">
                </div>
                    <button class="btn btn-primary w-100 reset-email" style="border: none;">Reset password</button>
                <div class="d-flex justify-content-between mt-4">
                    <a class="" href="{% url 'userauths:log-in' %}">Login</a>
                    <a class="" href="{% url 'userauths:register' %}">Register</a>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}