{% extends 'partial/base.html' %}
{% load static %}
{% block content %}

<main class="main pages">
    <div class="page-header breadcrumb-wrap">
		<div class="container">
			<div class="breadcrumb">
				<a href="{% url 'OCS_APP:index' %}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
				<span></span> Login <span></span> Password Reset Invalid
			</div>
		</div>
	</div>

    <div class="page-content pt-60 pb-60 d-flex justify-content-center align-items-center">
        <img src="{% static 'assets/imgs/page/expired.jpg' %}" alt="Link Expired Image">
    </div>
</main>

{% endblock content %}