{% extends 'partial/base.html' %}
{% load static %}
{% block content %}

<main class="main pages">
    <div class="page-header breadcrumb-wrap">
		<div class="container">
			<div class="breadcrumb">
				<a href="{% url 'OCS_APP:index' %}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
				<span></span> Login <span></span> Forget Password
			</div>
		</div>
	</div>
    
    <div class="page-content pt-60 pb-60 d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-sm-8 text-center">
                    <h1>Password Reset</h1>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-sm-4">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group pass_show"> 
                            <input type="password" class="form-control" placeholder="New Password" id="id_password" name="password"> 
                        </div>  
                        <div class="form-group pass_show"> 
                            <input type="password" class="form-control" placeholder="Confirm Password" id="id_confirm_password" name="confirm_password"> 
                        </div>
                        <button type="submit" class="btn btn-primary">Reset Password</button>
                    </form>
                </div>
                <div class="col-sm-4">
                    <img src="{% static 'assets/imgs/page/reset.jpg' %}" alt="Password Reset Image" style="height: 80%;">
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    $(document).ready(function(){
        $('.pass_show').append('<span class="ptxt">Show</span>');  
        });
    
        $(document).on('click','.pass_show .ptxt', function(){ 

        $(this).text($(this).text() == "Show" ? "Hide" : "Show"); 

        $(this).prev().attr('type', function(index, attr){return attr == 'password' ? 'text' : 'password'; });
    });  
</script>

{% endblock content %}